/* 1 */
p {
    font-size: 25px;
    font-style: normal;
}

h1 {
    font-size: 40px;
    font-style: bold;
}

/* 2 */
table {
    border-collapse: collapse;
}

table td, th {
    border: 1px solid black;
    border-style: dotted;
}

/* 3 */
a {
    text-decoration: none;
}

/* 4 */
ul li {
    list-style-type: square;
}