<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON data</title>
</head>
<body>
    <% if(isGet) { %>
    <form action="/jsondata", method="post">
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" name="data"><br>
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" name="data"><br>
        <label for="login">Login:</label>
        <input type="text" id="login" name="data"><br>
        <input type="submit" value="Submit">
    </form>
    <% } else {%>
    <p>
        First name: <%= data[0]%><br>
        Last name: <%= data[1]%><br>
        Login: <%= data[2]%>
    </p>
    <% } %>
</body>
</html>